body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../imagenes/registro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contenido {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    width: 328px;
    height: 610px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: ease 1s;
}

.contenido:hover{
    box-shadow: 10px 5px 15px rgba(255, 255, 255, 0.5); 
    opacity: 0.9;
}


h1, h2, h6 {
    margin: 10px 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h6 {
    font-size: 14px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

input {
    border-radius: 10px;
    border: 2px solid #999999;
    width: 250px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    transition: all 0.5s ease;
}
input:focus{
    box-shadow: 0 0 10px lightgray;
    transform: scale(1.03);
}

input::placeholder {
    font-size: 15px;
    text-align: center;
}

.linea {
    height: 1px;
    background-color: #f0f0f0;
    width: 250px;
    margin: 20px auto;
}

.linea {
    height: 1px;
    background-color: #f0f0f0;
    width: 250px;

} 

button {
    width: 250px;
    height: 40px;
    color: white;
    background-color: black;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: visible;
    transition: background-color 0.5s ease, transform 0.5s ease;
    margin-top: 20px;   
}
button:hover{
    color: black;
    background-color: white;
    transform: scale(1.05);
}

.registrar{
    font-family: Arial, Helvetica, sans-serif;
}