body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('../imagenes/interfaz.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-attachment: fixed; 
}

.contenido {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: ease 1s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contenido:hover{
    box-shadow: 10px 5px 15px rgba(255, 255, 255, 0.5); 
    opacity: 0.9;
}
.pectoral{
    background-image: url('../imagenes/pectoral.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    width: 300px;
    height: 200px;
}
.brazos{
    background-image: url('../imagenes/brazo.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    width: 300px;
    height: 200px;
}
.espalda{
    background-image: url('../imagenes/espalda.avif');
    background-size: cover;
    background-position: center;
    border: none;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    width: 300px;
    height: 200px;
}
.seleccionar{
    display: flex;
    flex-direction: column;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: visible;
    transition: background-color 0.5s ease, transform 0.5s ease;
    margin-top: 20px;
}
.pectoral{
    font-size: 30px;
    width: 450px;
    height: 350px;
    font-weight: bold;
}
.brazos{
    font-size: 30px;
    width: 450px;
    height: 350px;
    font-weight: bold;
}
.espalda{
    font-size: 30px;
    width: 450px;
    height: 350px;
    font-weight: bold;
}

button:hover{
    box-shadow: 10px 5px 15px rgba(255, 255, 255, 0.5); 
    color: dimgray;
    transform: scale(1.05);
    opacity: 0.6;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}


.barra-apartados{
    background-color: white;
    width: 100%;
}

.barra{
    background-color: white;
    width: 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
    transition: background-color 0.5s ease, transform 0.5s ease;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 ;
}
ul{

    width: 100px;
}
a:hover{
    background-color: black;
    color: white;
    box-shadow: 10px 5px 15px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}
li{
    list-style: none;
}

.informacion{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
}
.info{
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 2px solid lightgrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding: 20px;
    width: 60%;
}
#caja_titulo{
    display: flex;
    justify-items: flex-start;
}

.barra{
    background-color: white;
    width: 100%;
}

footer{
    display: flex;
    gap: 40px;
    margin: 20px;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
}
.contactos{
    background-color: black;
    transform: translateY(200px);
    width: 100%;
}

.icon{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.titulo_pagina h1{
    font-size: 50px;
    border: 1px solid white;
    width: 300px;
}

label{
    display: none;
    background-color: white;

}
.lu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -50px;
}
select{
    border-radius: 8px;
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
select:hover{
    box-shadow: 10px 5px 15px rgba(255, 255, 255, 0.5); 
    opacity: 0.95;
    background-color: black;
    color: white;
}
.linea{
    height: 45px;
    background-color: black;
    width: 1px;
}
.cerrar_sesion{
    text-align: center;
    justify-content: center;
}

.dietas{
    width: 100px;
}
footer{
    display: flex;
    gap: 40px;
    margin: 20px;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
}

#contactos{
    background-color: black;
    transform: translateY(200px);
    width: 100%;
}
#p{
    background-color: white;
}

.boton-rutina {

  width: 200px;
  height: 120px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #333;
  background-size: cover;
  background-position: center;
  color: white;
  cursor: pointer;
}

#botonesRutinas{
    display: flex;
    flex-direction: column;
}
